
badwords.txt
renameWordlist.txt
temp1.txt
temp2.txt
testbed.py
RenameThisCruss.aux
RenameThisCruss.log
RenameThisCruss.pdf
RenameThisCruss.synctex.gz
RenameThisCruss.tex
wordlists/Misc_Wordlists
.spyproject/
__pycache__/
